<section class="card">
    <a href="/blogPost/{{id}}" class="card-header">
        <header>{{title}}</header>
    </a>

    <p class="card-poster">- {{user.username}} | {{date}}</p>

    <p class="card-contents">{{contents}}</p>
</section>